<section class="heading-section pt-5 px-5 pb-2">
  <h1 class="title text-center">Conversor App</h1>
  <div class="d-flex justify-content-start">
    <div class="m-3">
      <a routerLink="">
        <button mat-mini-fab color='accent'><mat-icon>home</mat-icon></button>
      </a> 
    </div>
    <div class="m-3">
      <a routerLink="/conversor/bin">
        <button mat-raised-button color="accent">Binario</button>
      </a>
    </div>
    <div class="m-3">
      <a routerLink="/conversor/hex">
        <button mat-raised-button color="accent">Hex</button>
      </a>
    </div>
    <div class="m-3">
      <a routerLink="/conversor/ascii">
        <button mat-raised-button color="accent">ASCII</button>
      </a>
    </div>
  </div>
</section>
<router-outlet></router-outlet>


