<div class="mt-4 mx-5">
  <mat-card class="example-card">
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="w-100">
            <h3>Text</h3>
            <textarea matInput (input)="cambioTexto($event.target.value)" [(ngModel)]="mensaje" class="textArea"></textarea>
          </mat-form-field>
        </div>
        <div class="col">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="card mt-5 mx-5">
  <div class="card-header bg-accent">
    {{ comunicationService.conversorDescriptionTitle }}
  </div>
  <div class="card-body">
    <p>{{ comunicationService.conversorDescription }}</p>
  </div>
</div>