<div class="mt-4 mx-5">
    <mat-card class="example-card">
        <mat-card-content>
            <div class="text-center">
                <h1>¡Hola!</h1>
                <div class="desc-home">
                    <h3>Esta aplicación te permitirá convertir de forma fácil y rápida cualquier texto o número a código binario, hexadecimal o ASCII y viceversa.
                        Dentro de cada conversor, hay una breve explicación de cada código, que te ayudará a entender un poco mejor el significado de cada uno</h3>    
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <div class="m-3 mt-4">
                        <a routerLink="/conversor/bin">
                        <button mat-raised-button>Binario</button>
                        </a>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="m-3 mt-4">
                        <a routerLink="/conversor/hex">
                        <button mat-raised-button>Hexadecimal</button>
                        </a>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="m-3 mt-4">
                        <a routerLink="/conversor/ascii">
                        <button mat-raised-button>ASCII</button>
                        </a>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>